files:
  "/sbin/appstart":
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
      #!/usr/bin/env bash
      JAR_PATH=/var/app/current/application.jar

      # Export environment variables
      export SPRING_JWT_SECRET=${SPRING_JWT_SECRET}
      export SPRING_CLOUD_AWS_S3_BUCKET=${SPRING_CLOUD_AWS_S3_BUCKET}
      export SPRING_CLOUD_AWS_S3_REGION=${SPRING_CLOUD_AWS_S3_REGION}
      export AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      export AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      export RDS_HOSTNAME=${RDS_HOSTNAME}
      export RDS_PORT=${RDS_PORT}
      export RDS_DB_NAME=${RDS_DB_NAME}
      export RDS_USERNAME=${RDS_USERNAME}
      export RDS_PASSWORD=${RDS_PASSWORD}
      export REDIS_HOST=${REDIS_HOST}
      export REDIS_PORT=${REDIS_PORT}
      export REDIS_PWD=${REDIS_PWD}
      export KAKAO_URL=${KAKAO_URL}
      export KAKAO_KEY=${KAKAO_KEY}
      export KAKAO_USER_ID=${KAKAO_USER_ID}
      export KAKAO_SENDER=${KAKAO_SENDER}
      export KAKAO_CLIENT_SECRET=${KAKAO_CLIENT_SECRET}
      export KAKAO_TOKEN=${KAKAO_TOKEN}

      # Kill existing java processes
      killall java || true

      # Run the application
      java -Dfile.encoding=UTF-8 -jar $JAR_PATH
